.nav-link {
    color: rgb(245, 241, 241) !important;
    padding-left: .5rem;
    font-family: 'Major Mono Display', monospace !important;
    font-size: 25px;
    font-weight: bold;
   
}
.top-nav-collapse, .page-footer {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: #ff1744b0 !important;
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #ff1744 !important;
    }
  }