
#intro-section {
    position: relative;
    background-color: #2e3951;
}
#intro-section-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

header{
  height: 100vh;
}
@media (max-width: 740px) {
  html,
  body,
  header,
  #intro-section,
  #contact-section {
      height: 100vh;
  }
}

.main{
  height: 100% !important;
  
}
.d-flex{
  display: flex !important;
  font-family: 'Major Mono Display', monospace;
  
}
